{% extends "recipes/base.html" %}

{% load static %}
<!-- -->
{% block content %}
<div class="d-flex align-items-center">
  <div class="me-3">
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="Recipe Image" class="img-fluid" style="max-width: 320px;">
    {% else %}
        <img src="{% static 'images/wew.jpg' %}" alt="Default Image" class="img-fluid" style="max-width: 320px;">
    {% endif %}
  </div>
  <div>
      <h1>{{ object.title }}</h1>
      <h6 class="card-subtitle mb-2 text-muted">by {{ object.author }}</h6>
      <p class="card-text fst-italic">{{ object.description }}</p>
      <h6 class="card-subtitle mb-2 text-muted">
          {{ object.updated_at|date:"F d, Y" }}
      </h6>
  </div>
</div>
<hr>
<h2>Ingredients</h2>
<p class="card-text fst-italic">
    {{ object.ingredients|linebreaksbr }}
  </p>
<h2>Instructions</h2>
<p class="card-text fst-italic mb-5">
    {{ object.instructions|linebreaksbr }}
  </p>
  
  


{% if object.author == user or user.is_staff %}
<div class="col-4 mb-5">
    <a class="btn btn-outline-warning" href="{% url 'recipes-update' object.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
</div>
{% endif %}
<!-- -->
{% endblock content %}
